# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and static files
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual environment
myenv/
venv/
env/
myenvv/



# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*.pyc

# Node modules (if frontend inside project)
node_modules/

# Temporary files
*.swp
*.swo